# AWS Account Information
USER1_ACCOUNT=user-1
USER2_ACCOUNT=user-2

# AWS Region
AWS_REGION=eu-central-1

# DynamoDB Table Names
TASKS_TABLE=aws-serverless-poc-tasks-dev

# SQS Queue Names
USER2_NOTIFICATION_QUEUE=aws-serverless-poc-user2-notifications-dev
USER2_TASK_QUEUE=aws-serverless-poc-user2-tasks-dev

# AWS Credentials (for local development)
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=